{% extends "base.html.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 jumbotron">
            <h3>Saisie des demandes de livraisons</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="well">
        <div class="row">
            <h3 class="text-center">Formulaire</h3>
        </div>

        <div class="row">
            <hr>
        </div>
        <form action="{{ path('Request','index') }}" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="select">Centre de soin</label>
                    <select id="select" name="crisis_center_id" class="form-control">
                        {% for center in centers %}
                        <option value="{{ center.id }}">{{ center.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="select">Date de livraison</label>
                    <input name="reception_date" type="date" class="form-control">
                    <p class="help-block">Veuillez entrer la date de livraison souhaitée</p>

                </div>
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="select">Priorité de livraison souhaité</label>
                    <select id="select" class="form-control" name="priority">
                        <option value="0">Faible</option>
                        <option value="1" selected="selected">Moyenne</option>
                        <option value="2">Élevé</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center">
                <button type="submit" class="btn btn-success">Valider</button>
                <p class="help-block">Vous allez être redirigé sur la page de saisie des produits</p>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- CONTAINER END -->
{% endblock %}